<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[1F6001]</key>
	<string>憨笑</string>
	<key>[1F6002]</key>
	<string>偷笑</string>
	<key>[1F6003]</key>
	<string>酷</string>
	<key>[1F6004]</key>
	<string>欢呼</string>
	<key>[1F6005]</key>
	<string>点赞</string>
	<key>[1F6006]</key>
	<string>抱拳</string>
	<key>[1F6007]</key>
	<string>亲亲</string>
	<key>[1F6008]</key>
	<string>再见</string>
	<key>[1F6009]</key>
	<string>拍手</string>
	<key>[1F6010]</key>
	<string>微笑</string>
	<key>[1F6011]</key>
	<string>害羞</string>
	<key>[1F6012]</key>
	<string>得意</string>
	<key>[1F6013]</key>
	<string>擦汗</string>
	<key>[1F6014]</key>
	<string>坏笑</string>
	<key>[1F6015]</key>
	<string>努力</string>
	<key>[1F6016]</key>
	<string>可怜</string>
	<key>[1F6017]</key>
	<string>抠鼻</string>
	<key>[1F6018]</key>
	<string>大哭</string>
	<key>[1F6019]</key>
	<string>摸头</string>
	<key>[1F6020]</key>
	<string>学问</string>
	<key>[1F6021]</key>
	<string>财迷</string>
	<key>[1F6022]</key>
	<string>口罩</string>
	<key>[1F6023]</key>
	<string>发怒</string>
	<key>[1F6024]</key>
	<string>惊恐</string>
	<key>[1F6025]</key>
	<string>思考</string>
	<key>[1F6026]</key>
	<string>吃瓜</string>
	<key>[1F6027]</key>
	<string>托腮</string>
	<key>[1F6028]</key>
	<string>委屈</string>
	<key>[1F6029]</key>
	<string>哭笑</string>
	<key>[1F60030]</key>
	<string>星星</string>
	<key>[1F6031]</key>
	<string>疑问</string>
	<key>[1F6032]</key>
	<string>斜眼</string>
	<key>[1F6033]</key>
	<string>晕</string>
	<key>[1F6034]</key>
	<string>耶</string>
	<key>[1F6035]</key>
	<string>大拇指</string>
	<key>[1F6036]</key>
	<string>握手</string>
	<key>[1F6037]</key>
	<string>比心</string>
	<key>[1F6038]</key>
	<string>送花</string>
	<key>[1F6039]</key>
	<string>摇滚</string>
	<key>[1F6040]</key>
	<string>ok</string>
	<key>[1F6041]</key>
	<string>加油</string>
	<key>[1F6042]</key>
	<string>鼓掌</string>
	<key>[1F6043]</key>
	<string>握拳</string>
	<key>[1F6044]</key>
	<string>爱心</string>
	<key>[1F6045]</key>
	<string>裂开</string>
	<key>[1F6046]</key>
	<string>玫瑰</string>
	<key>[1F6047]</key>
	<string>西瓜</string>
	<key>[1F6048]</key>
	<string>柠檬</string>
	<key>[1F6049]</key>
	<string>蛋糕</string>
	<key>[1F6050]</key>
	<string>咖啡</string>
	<key>[1F6051]</key>
	<string>礼物</string>
	<key>[1F6052]</key>
	<string>礼花</string>
	<key>[1F6053]</key>
	<string>加一</string>
	<key>[1F6054]</key>
	<string>cool</string>
	<key>[1F6055]</key>
	<string>yyds</string>
	<key>[1F6056]</key>
	<string>威武</string>
	<key>[1F6057]</key>
	<string>绝</string>
	<key>[1F6058]</key>
	<string>666</string>
	<key>[1F6059]</key>
	<string>100</string>
	<key>[1F6060]</key>
	<string>猫咪</string>
	<key>[1F6061]</key>
	<string>青蛙</string>
	<key>[1F6062]</key>
	<string>熊</string>
	<key>[1F6063]</key>
	<string>柯基</string>
	<key>[1F6064]</key>
	<string>熊猫</string>
</dict>
</plist>
