<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>【憨笑】</key>
	<string>[1F6001]</string>
	<key>【偷笑】</key>
	<string>[1F6002]</string>
    <key>【酷】</key>
    <string>[1F6003]</string>
    <key>【欢呼】</key>
    <string>[1F6004]</string>
	<key>【点赞】</key>
	<string>[1F6005]</string>
	<key>【抱拳】</key>
	<string>[1F6006]</string>
    <key>【亲亲】</key>
	<string>[1F6007]</string>
    <key>【再见】</key>
	<string>[1F6008]</string>
    <key>【拍手】</key>
	<string>[1F6009]</string>
    <key>【微笑】</key>
	<string>[1F6010]</string>
    <key>【害羞】</key>
	<string>[1F6011]</string>
    <key>【得意】</key>
	<string>[1F6012]</string>
    <key>【擦汗】</key>
	<string>[1F6013]</string>
    <key>【坏笑】</key>
	<string>[1F6014]</string>
    <key>【努力】</key>
	<string>[1F6015]</string>
    <key>【可怜】</key>
	<string>[1F6016]</string>
    <key>【抠鼻】</key>
	<string>[1F6017]</string>
    <key>【大哭】</key>
	<string>[1F6018]</string>
    <key>【摸头】</key>
	<string>[1F6019]</string>
    <key>【学问】</key>
	<string>[1F6020]</string>
    <key>【财迷】</key>
	<string>[1F6021]</string>
    <key>【口罩】</key>
	<string>[1F6022]</string>
    <key>【发怒】</key>
	<string>[1F6023]</string>
    <key>【惊恐】</key>
	<string>[1F6024]</string>
    <key>【思考】</key>
	<string>[1F6025]</string>
    <key>【吃瓜】</key>
	<string>[1F6026]</string>
    <key>【托腮】</key>
	<string>[1F6027]</string>
    <key>【委屈】</key>
	<string>[1F6028]</string>
    <key>【哭笑】</key>
	<string>[1F6029]</string>
    <key>【星星】</key>
	<string>[1F60030]</string>
    <key>【疑问】</key>
	<string>[1F6031]</string>
    <key>【斜眼】</key>
	<string>[1F6032]</string>
    <key>【晕】</key>
	<string>[1F6033]</string>
    <key>【耶】</key>
	<string>[1F6034]</string>
    <key>【大拇指】</key>
	<string>[1F6035]</string>
    <key>【握手】</key>
	<string>[1F6036]</string>
    <key>【比心】</key>
	<string>[1F6037]</string>
    <key>【送花】</key>
	<string>[1F6038]</string>
    <key>【摇滚】</key>
	<string>[1F6039]</string>
    <key>【ok】</key>
	<string>[1F6040]</string>
    <key>【加油】</key>
	<string>[1F6041]</string>
    <key>【鼓掌】</key>
	<string>[1F6042]</string>
    <key>【握拳】</key>
	<string>[1F6043]</string>
    <key>【爱心】</key>
	<string>[1F6044]</string>
    <key>【裂开】</key>
	<string>[1F6045]</string>
    <key>【玫瑰】</key>
	<string>[1F6046]</string>
    <key>【西瓜】</key>
	<string>[1F6047]</string>
    <key>【柠檬】</key>
	<string>[1F6048]</string>
    <key>【蛋糕】</key>
	<string>[1F6049]</string>
    <key>【咖啡】</key>
	<string>[1F6050]</string>
    <key>【礼物】</key>
	<string>[1F6051]</string>
    <key>【礼花】</key>
	<string>[1F6052]</string>
    <key>【加一】</key>
	<string>[1F6053]</string>
    <key>【cool】</key>
	<string>[1F6054]</string>
    <key>【yyds】</key>
	<string>[1F6055]</string>
    <key>【威武】</key>
	<string>[1F6056]</string>
    <key>【绝】</key>
	<string>[1F6057]</string>
    <key>【666】</key>
	<string>[1F6058]</string>
    <key>【100】</key>
	<string>[1F6059]</string>
    <key>【猫咪】</key>
	<string>[1F6060]</string>
    <key>【青蛙】</key>
	<string>[1F6061]</string>
    <key>【熊】</key>
	<string>[1F6062]</string>
    <key>【柯基】</key>
	<string>[1F6063]</string>
    <key>【熊猫】</key>
	<string>[1F6064]</string>
</dict>
</plist>
